@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Satisfy";
  src: url("/Fonts/Satisfy-Regular.ttf");
  font-style: normal;
}
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-1-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-breakpoint {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #023eff;
}

.text-hover-primary:hover {
  color: #023eff;
}

.bg-primary {
  background-color: #023eff;
}

.text-primary-light-1 {
  color: #1b51ff;
}

.text-hover-primary-light-1:hover {
  color: #1b51ff;
}

.bg-primary-light-1 {
  background-color: #1b51ff;
}

.text-primary-light-2 {
  color: #3565ff;
}

.text-hover-primary-light-2:hover {
  color: #3565ff;
}

.bg-primary-light-2 {
  background-color: #3565ff;
}

.text-primary-light-3 {
  color: #4e78ff;
}

.text-hover-primary-light-3:hover {
  color: #4e78ff;
}

.bg-primary-light-3 {
  background-color: #4e78ff;
}

.text-primary-light-4 {
  color: #678bff;
}

.text-hover-primary-light-4:hover {
  color: #678bff;
}

.bg-primary-light-4 {
  background-color: #678bff;
}

.text-primary-light-5 {
  color: #819fff;
}

.text-hover-primary-light-5:hover {
  color: #819fff;
}

.bg-primary-light-5 {
  background-color: #819fff;
}

.text-primary-light-6 {
  color: #9ab2ff;
}

.text-hover-primary-light-6:hover {
  color: #9ab2ff;
}

.bg-primary-light-6 {
  background-color: #9ab2ff;
}

.text-primary-light-7 {
  color: #b3c5ff;
}

.text-hover-primary-light-7:hover {
  color: #b3c5ff;
}

.bg-primary-light-7 {
  background-color: #b3c5ff;
}

.text-primary-light-8 {
  color: #ccd8ff;
}

.text-hover-primary-light-8:hover {
  color: #ccd8ff;
}

.bg-primary-light-8 {
  background-color: #ccd8ff;
}

.text-primary-light-9 {
  color: #e6ecff;
}

.text-hover-primary-light-9:hover {
  color: #e6ecff;
}

.bg-primary-light-9 {
  background-color: #e6ecff;
}

.text-primary-dark-1 {
  color: #0238e6;
}

.text-hover-primary-light-1:hover {
  color: #1b51ff;
}

.bg-primary-dark-1 {
  background-color: #0238e6;
}

.text-primary-dark-2 {
  color: #0232cc;
}

.text-hover-primary-light-2:hover {
  color: #3565ff;
}

.bg-primary-dark-2 {
  background-color: #0232cc;
}

.text-primary-dark-3 {
  color: #012bb3;
}

.text-hover-primary-light-3:hover {
  color: #4e78ff;
}

.bg-primary-dark-3 {
  background-color: #012bb3;
}

.text-primary-dark-4 {
  color: #012599;
}

.text-hover-primary-light-4:hover {
  color: #678bff;
}

.bg-primary-dark-4 {
  background-color: #012599;
}

.text-primary-dark-5 {
  color: #011f80;
}

.text-hover-primary-light-5:hover {
  color: #819fff;
}

.bg-primary-dark-5 {
  background-color: #011f80;
}

.text-primary-dark-6 {
  color: #011966;
}

.text-hover-primary-light-6:hover {
  color: #9ab2ff;
}

.bg-primary-dark-6 {
  background-color: #011966;
}

.text-primary-dark-7 {
  color: #01134d;
}

.text-hover-primary-light-7:hover {
  color: #b3c5ff;
}

.bg-primary-dark-7 {
  background-color: #01134d;
}

.text-primary-dark-8 {
  color: #000c33;
}

.text-hover-primary-light-8:hover {
  color: #ccd8ff;
}

.bg-primary-dark-8 {
  background-color: #000c33;
}

.text-primary-dark-9 {
  color: #00061a;
}

.text-hover-primary-light-9:hover {
  color: #e6ecff;
}

.bg-primary-dark-9 {
  background-color: #00061a;
}

.text-secondary {
  color: #ffffff;
}

.text-hover-secondary:hover {
  color: #ffffff;
}

.bg-secondary {
  background-color: #ffffff;
}

.text-bg-dark {
  color: #111521;
}

.text-hover-bg-dark:hover {
  color: #111521;
}

.bg-bg-dark {
  background-color: #111521;
}

.text-bg-dark-light-1 {
  color: #292c37;
}

.text-hover-bg-dark-light-1:hover {
  color: #292c37;
}

.bg-bg-dark-light-1 {
  background-color: #292c37;
}

.text-bg-dark-light-2 {
  color: #41444d;
}

.text-hover-bg-dark-light-2:hover {
  color: #41444d;
}

.bg-bg-dark-light-2 {
  background-color: #41444d;
}

.text-bg-dark-light-3 {
  color: #585b64;
}

.text-hover-bg-dark-light-3:hover {
  color: #585b64;
}

.bg-bg-dark-light-3 {
  background-color: #585b64;
}

.text-bg-dark-light-4 {
  color: #70737a;
}

.text-hover-bg-dark-light-4:hover {
  color: #70737a;
}

.bg-bg-dark-light-4 {
  background-color: #70737a;
}

.text-bg-dark-light-5 {
  color: #888a90;
}

.text-hover-bg-dark-light-5:hover {
  color: #888a90;
}

.bg-bg-dark-light-5 {
  background-color: #888a90;
}

.text-bg-dark-light-6 {
  color: #a0a1a6;
}

.text-hover-bg-dark-light-6:hover {
  color: #a0a1a6;
}

.bg-bg-dark-light-6 {
  background-color: #a0a1a6;
}

.text-bg-dark-light-7 {
  color: #b8b9bc;
}

.text-hover-bg-dark-light-7:hover {
  color: #b8b9bc;
}

.bg-bg-dark-light-7 {
  background-color: #b8b9bc;
}

.text-bg-dark-light-8 {
  color: #cfd0d3;
}

.text-hover-bg-dark-light-8:hover {
  color: #cfd0d3;
}

.bg-bg-dark-light-8 {
  background-color: #cfd0d3;
}

.text-bg-dark-light-9 {
  color: #e7e8e9;
}

.text-hover-bg-dark-light-9:hover {
  color: #e7e8e9;
}

.bg-bg-dark-light-9 {
  background-color: #e7e8e9;
}

.text-bg-dark-dark-1 {
  color: #0f131e;
}

.text-hover-bg-dark-light-1:hover {
  color: #292c37;
}

.bg-bg-dark-dark-1 {
  background-color: #0f131e;
}

.text-bg-dark-dark-2 {
  color: #0e111a;
}

.text-hover-bg-dark-light-2:hover {
  color: #41444d;
}

.bg-bg-dark-dark-2 {
  background-color: #0e111a;
}

.text-bg-dark-dark-3 {
  color: #0c0f17;
}

.text-hover-bg-dark-light-3:hover {
  color: #585b64;
}

.bg-bg-dark-dark-3 {
  background-color: #0c0f17;
}

.text-bg-dark-dark-4 {
  color: #0a0d14;
}

.text-hover-bg-dark-light-4:hover {
  color: #70737a;
}

.bg-bg-dark-dark-4 {
  background-color: #0a0d14;
}

.text-bg-dark-dark-5 {
  color: #090b11;
}

.text-hover-bg-dark-light-5:hover {
  color: #888a90;
}

.bg-bg-dark-dark-5 {
  background-color: #090b11;
}

.text-bg-dark-dark-6 {
  color: #07080d;
}

.text-hover-bg-dark-light-6:hover {
  color: #a0a1a6;
}

.bg-bg-dark-dark-6 {
  background-color: #07080d;
}

.text-bg-dark-dark-7 {
  color: #05060a;
}

.text-hover-bg-dark-light-7:hover {
  color: #b8b9bc;
}

.bg-bg-dark-dark-7 {
  background-color: #05060a;
}

.text-bg-dark-dark-8 {
  color: #030407;
}

.text-hover-bg-dark-light-8:hover {
  color: #cfd0d3;
}

.bg-bg-dark-dark-8 {
  background-color: #030407;
}

.text-bg-dark-dark-9 {
  color: #020203;
}

.text-hover-bg-dark-light-9:hover {
  color: #e7e8e9;
}

.bg-bg-dark-dark-9 {
  background-color: #020203;
}

.text-bg-black {
  color: #090909;
}

.text-hover-bg-black:hover {
  color: #090909;
}

.bg-bg-black {
  background-color: #090909;
}

.text-bg-black-light-1 {
  color: #222222;
}

.text-hover-bg-black-light-1:hover {
  color: #222222;
}

.bg-bg-black-light-1 {
  background-color: #222222;
}

.text-bg-black-light-2 {
  color: #3a3a3a;
}

.text-hover-bg-black-light-2:hover {
  color: #3a3a3a;
}

.bg-bg-black-light-2 {
  background-color: #3a3a3a;
}

.text-bg-black-light-3 {
  color: #535353;
}

.text-hover-bg-black-light-3:hover {
  color: #535353;
}

.bg-bg-black-light-3 {
  background-color: #535353;
}

.text-bg-black-light-4 {
  color: #6b6b6b;
}

.text-hover-bg-black-light-4:hover {
  color: #6b6b6b;
}

.bg-bg-black-light-4 {
  background-color: #6b6b6b;
}

.text-bg-black-light-5 {
  color: #848484;
}

.text-hover-bg-black-light-5:hover {
  color: #848484;
}

.bg-bg-black-light-5 {
  background-color: #848484;
}

.text-bg-black-light-6 {
  color: #9d9d9d;
}

.text-hover-bg-black-light-6:hover {
  color: #9d9d9d;
}

.bg-bg-black-light-6 {
  background-color: #9d9d9d;
}

.text-bg-black-light-7 {
  color: #b5b5b5;
}

.text-hover-bg-black-light-7:hover {
  color: #b5b5b5;
}

.bg-bg-black-light-7 {
  background-color: #b5b5b5;
}

.text-bg-black-light-8 {
  color: #cecece;
}

.text-hover-bg-black-light-8:hover {
  color: #cecece;
}

.bg-bg-black-light-8 {
  background-color: #cecece;
}

.text-bg-black-light-9 {
  color: #e6e6e6;
}

.text-hover-bg-black-light-9:hover {
  color: #e6e6e6;
}

.bg-bg-black-light-9 {
  background-color: #e6e6e6;
}

.text-bg-black-dark-1 {
  color: #080808;
}

.text-hover-bg-black-light-1:hover {
  color: #222222;
}

.bg-bg-black-dark-1 {
  background-color: #080808;
}

.text-bg-black-dark-2 {
  color: #070707;
}

.text-hover-bg-black-light-2:hover {
  color: #3a3a3a;
}

.bg-bg-black-dark-2 {
  background-color: #070707;
}

.text-bg-black-dark-3 {
  color: #060606;
}

.text-hover-bg-black-light-3:hover {
  color: #535353;
}

.bg-bg-black-dark-3 {
  background-color: #060606;
}

.text-bg-black-dark-4 {
  color: #050505;
}

.text-hover-bg-black-light-4:hover {
  color: #6b6b6b;
}

.bg-bg-black-dark-4 {
  background-color: #050505;
}

.text-bg-black-dark-5 {
  color: #050505;
}

.text-hover-bg-black-light-5:hover {
  color: #848484;
}

.bg-bg-black-dark-5 {
  background-color: #050505;
}

.text-bg-black-dark-6 {
  color: #040404;
}

.text-hover-bg-black-light-6:hover {
  color: #9d9d9d;
}

.bg-bg-black-dark-6 {
  background-color: #040404;
}

.text-bg-black-dark-7 {
  color: #030303;
}

.text-hover-bg-black-light-7:hover {
  color: #b5b5b5;
}

.bg-bg-black-dark-7 {
  background-color: #030303;
}

.text-bg-black-dark-8 {
  color: #020202;
}

.text-hover-bg-black-light-8:hover {
  color: #cecece;
}

.bg-bg-black-dark-8 {
  background-color: #020202;
}

.text-bg-black-dark-9 {
  color: #010101;
}

.text-hover-bg-black-light-9:hover {
  color: #e6e6e6;
}

.bg-bg-black-dark-9 {
  background-color: #010101;
}

.text-blue {
  color: blue;
}

.text-hover-blue:hover {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.text-blue-light-1 {
  color: #1a1aff;
}

.text-hover-blue-light-1:hover {
  color: #1a1aff;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.text-blue-light-2 {
  color: #3333ff;
}

.text-hover-blue-light-2:hover {
  color: #3333ff;
}

.bg-blue-light-2 {
  background-color: #3333ff;
}

.text-blue-light-3 {
  color: #4d4dff;
}

.text-hover-blue-light-3:hover {
  color: #4d4dff;
}

.bg-blue-light-3 {
  background-color: #4d4dff;
}

.text-blue-light-4 {
  color: #6666ff;
}

.text-hover-blue-light-4:hover {
  color: #6666ff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.text-blue-light-5 {
  color: #8080ff;
}

.text-hover-blue-light-5:hover {
  color: #8080ff;
}

.bg-blue-light-5 {
  background-color: #8080ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.text-hover-blue-light-6:hover {
  color: #9999ff;
}

.bg-blue-light-6 {
  background-color: #9999ff;
}

.text-blue-light-7 {
  color: #b3b3ff;
}

.text-hover-blue-light-7:hover {
  color: #b3b3ff;
}

.bg-blue-light-7 {
  background-color: #b3b3ff;
}

.text-blue-light-8 {
  color: #ccccff;
}

.text-hover-blue-light-8:hover {
  color: #ccccff;
}

.bg-blue-light-8 {
  background-color: #ccccff;
}

.text-blue-light-9 {
  color: #e6e6ff;
}

.text-hover-blue-light-9:hover {
  color: #e6e6ff;
}

.bg-blue-light-9 {
  background-color: #e6e6ff;
}

.text-blue-dark-1 {
  color: #0000e6;
}

.text-hover-blue-light-1:hover {
  color: #1a1aff;
}

.bg-blue-dark-1 {
  background-color: #0000e6;
}

.text-blue-dark-2 {
  color: #0000cc;
}

.text-hover-blue-light-2:hover {
  color: #3333ff;
}

.bg-blue-dark-2 {
  background-color: #0000cc;
}

.text-blue-dark-3 {
  color: #0000b3;
}

.text-hover-blue-light-3:hover {
  color: #4d4dff;
}

.bg-blue-dark-3 {
  background-color: #0000b3;
}

.text-blue-dark-4 {
  color: #000099;
}

.text-hover-blue-light-4:hover {
  color: #6666ff;
}

.bg-blue-dark-4 {
  background-color: #000099;
}

.text-blue-dark-5 {
  color: navy;
}

.text-hover-blue-light-5:hover {
  color: #8080ff;
}

.bg-blue-dark-5 {
  background-color: navy;
}

.text-blue-dark-6 {
  color: #000066;
}

.text-hover-blue-light-6:hover {
  color: #9999ff;
}

.bg-blue-dark-6 {
  background-color: #000066;
}

.text-blue-dark-7 {
  color: #00004d;
}

.text-hover-blue-light-7:hover {
  color: #b3b3ff;
}

.bg-blue-dark-7 {
  background-color: #00004d;
}

.text-blue-dark-8 {
  color: #000033;
}

.text-hover-blue-light-8:hover {
  color: #ccccff;
}

.bg-blue-dark-8 {
  background-color: #000033;
}

.text-blue-dark-9 {
  color: #00001a;
}

.text-hover-blue-light-9:hover {
  color: #e6e6ff;
}

.bg-blue-dark-9 {
  background-color: #00001a;
}

.text-red {
  color: red;
}

.text-hover-red:hover {
  color: red;
}

.bg-red {
  background-color: red;
}

.text-red-light-1 {
  color: #ff1a1a;
}

.text-hover-red-light-1:hover {
  color: #ff1a1a;
}

.bg-red-light-1 {
  background-color: #ff1a1a;
}

.text-red-light-2 {
  color: #ff3333;
}

.text-hover-red-light-2:hover {
  color: #ff3333;
}

.bg-red-light-2 {
  background-color: #ff3333;
}

.text-red-light-3 {
  color: #ff4d4d;
}

.text-hover-red-light-3:hover {
  color: #ff4d4d;
}

.bg-red-light-3 {
  background-color: #ff4d4d;
}

.text-red-light-4 {
  color: #ff6666;
}

.text-hover-red-light-4:hover {
  color: #ff6666;
}

.bg-red-light-4 {
  background-color: #ff6666;
}

.text-red-light-5 {
  color: #ff8080;
}

.text-hover-red-light-5:hover {
  color: #ff8080;
}

.bg-red-light-5 {
  background-color: #ff8080;
}

.text-red-light-6 {
  color: #ff9999;
}

.text-hover-red-light-6:hover {
  color: #ff9999;
}

.bg-red-light-6 {
  background-color: #ff9999;
}

.text-red-light-7 {
  color: #ffb3b3;
}

.text-hover-red-light-7:hover {
  color: #ffb3b3;
}

.bg-red-light-7 {
  background-color: #ffb3b3;
}

.text-red-light-8 {
  color: #ffcccc;
}

.text-hover-red-light-8:hover {
  color: #ffcccc;
}

.bg-red-light-8 {
  background-color: #ffcccc;
}

.text-red-light-9 {
  color: #ffe6e6;
}

.text-hover-red-light-9:hover {
  color: #ffe6e6;
}

.bg-red-light-9 {
  background-color: #ffe6e6;
}

.text-red-dark-1 {
  color: #e60000;
}

.text-hover-red-light-1:hover {
  color: #ff1a1a;
}

.bg-red-dark-1 {
  background-color: #e60000;
}

.text-red-dark-2 {
  color: #cc0000;
}

.text-hover-red-light-2:hover {
  color: #ff3333;
}

.bg-red-dark-2 {
  background-color: #cc0000;
}

.text-red-dark-3 {
  color: #b30000;
}

.text-hover-red-light-3:hover {
  color: #ff4d4d;
}

.bg-red-dark-3 {
  background-color: #b30000;
}

.text-red-dark-4 {
  color: #990000;
}

.text-hover-red-light-4:hover {
  color: #ff6666;
}

.bg-red-dark-4 {
  background-color: #990000;
}

.text-red-dark-5 {
  color: maroon;
}

.text-hover-red-light-5:hover {
  color: #ff8080;
}

.bg-red-dark-5 {
  background-color: maroon;
}

.text-red-dark-6 {
  color: #660000;
}

.text-hover-red-light-6:hover {
  color: #ff9999;
}

.bg-red-dark-6 {
  background-color: #660000;
}

.text-red-dark-7 {
  color: #4d0000;
}

.text-hover-red-light-7:hover {
  color: #ffb3b3;
}

.bg-red-dark-7 {
  background-color: #4d0000;
}

.text-red-dark-8 {
  color: #330000;
}

.text-hover-red-light-8:hover {
  color: #ffcccc;
}

.bg-red-dark-8 {
  background-color: #330000;
}

.text-red-dark-9 {
  color: #1a0000;
}

.text-hover-red-light-9:hover {
  color: #ffe6e6;
}

.bg-red-dark-9 {
  background-color: #1a0000;
}

.text-yellow {
  color: yellow;
}

.text-hover-yellow:hover {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.text-yellow-light-1 {
  color: #ffff1a;
}

.text-hover-yellow-light-1:hover {
  color: #ffff1a;
}

.bg-yellow-light-1 {
  background-color: #ffff1a;
}

.text-yellow-light-2 {
  color: #ffff33;
}

.text-hover-yellow-light-2:hover {
  color: #ffff33;
}

.bg-yellow-light-2 {
  background-color: #ffff33;
}

.text-yellow-light-3 {
  color: #ffff4d;
}

.text-hover-yellow-light-3:hover {
  color: #ffff4d;
}

.bg-yellow-light-3 {
  background-color: #ffff4d;
}

.text-yellow-light-4 {
  color: #ffff66;
}

.text-hover-yellow-light-4:hover {
  color: #ffff66;
}

.bg-yellow-light-4 {
  background-color: #ffff66;
}

.text-yellow-light-5 {
  color: #ffff80;
}

.text-hover-yellow-light-5:hover {
  color: #ffff80;
}

.bg-yellow-light-5 {
  background-color: #ffff80;
}

.text-yellow-light-6 {
  color: #ffff99;
}

.text-hover-yellow-light-6:hover {
  color: #ffff99;
}

.bg-yellow-light-6 {
  background-color: #ffff99;
}

.text-yellow-light-7 {
  color: #ffffb3;
}

.text-hover-yellow-light-7:hover {
  color: #ffffb3;
}

.bg-yellow-light-7 {
  background-color: #ffffb3;
}

.text-yellow-light-8 {
  color: #ffffcc;
}

.text-hover-yellow-light-8:hover {
  color: #ffffcc;
}

.bg-yellow-light-8 {
  background-color: #ffffcc;
}

.text-yellow-light-9 {
  color: #ffffe6;
}

.text-hover-yellow-light-9:hover {
  color: #ffffe6;
}

.bg-yellow-light-9 {
  background-color: #ffffe6;
}

.text-yellow-dark-1 {
  color: #e6e600;
}

.text-hover-yellow-light-1:hover {
  color: #ffff1a;
}

.bg-yellow-dark-1 {
  background-color: #e6e600;
}

.text-yellow-dark-2 {
  color: #cccc00;
}

.text-hover-yellow-light-2:hover {
  color: #ffff33;
}

.bg-yellow-dark-2 {
  background-color: #cccc00;
}

.text-yellow-dark-3 {
  color: #b3b300;
}

.text-hover-yellow-light-3:hover {
  color: #ffff4d;
}

.bg-yellow-dark-3 {
  background-color: #b3b300;
}

.text-yellow-dark-4 {
  color: #999900;
}

.text-hover-yellow-light-4:hover {
  color: #ffff66;
}

.bg-yellow-dark-4 {
  background-color: #999900;
}

.text-yellow-dark-5 {
  color: olive;
}

.text-hover-yellow-light-5:hover {
  color: #ffff80;
}

.bg-yellow-dark-5 {
  background-color: olive;
}

.text-yellow-dark-6 {
  color: #666600;
}

.text-hover-yellow-light-6:hover {
  color: #ffff99;
}

.bg-yellow-dark-6 {
  background-color: #666600;
}

.text-yellow-dark-7 {
  color: #4d4d00;
}

.text-hover-yellow-light-7:hover {
  color: #ffffb3;
}

.bg-yellow-dark-7 {
  background-color: #4d4d00;
}

.text-yellow-dark-8 {
  color: #333300;
}

.text-hover-yellow-light-8:hover {
  color: #ffffcc;
}

.bg-yellow-dark-8 {
  background-color: #333300;
}

.text-yellow-dark-9 {
  color: #1a1a00;
}

.text-hover-yellow-light-9:hover {
  color: #ffffe6;
}

.bg-yellow-dark-9 {
  background-color: #1a1a00;
}

.text-green {
  color: green;
}

.text-hover-green:hover {
  color: green;
}

.bg-green {
  background-color: green;
}

.text-green-light-1 {
  color: #1a8d1a;
}

.text-hover-green-light-1:hover {
  color: #1a8d1a;
}

.bg-green-light-1 {
  background-color: #1a8d1a;
}

.text-green-light-2 {
  color: #339933;
}

.text-hover-green-light-2:hover {
  color: #339933;
}

.bg-green-light-2 {
  background-color: #339933;
}

.text-green-light-3 {
  color: #4da64d;
}

.text-hover-green-light-3:hover {
  color: #4da64d;
}

.bg-green-light-3 {
  background-color: #4da64d;
}

.text-green-light-4 {
  color: #66b366;
}

.text-hover-green-light-4:hover {
  color: #66b366;
}

.bg-green-light-4 {
  background-color: #66b366;
}

.text-green-light-5 {
  color: #80c080;
}

.text-hover-green-light-5:hover {
  color: #80c080;
}

.bg-green-light-5 {
  background-color: #80c080;
}

.text-green-light-6 {
  color: #99cc99;
}

.text-hover-green-light-6:hover {
  color: #99cc99;
}

.bg-green-light-6 {
  background-color: #99cc99;
}

.text-green-light-7 {
  color: #b3d9b3;
}

.text-hover-green-light-7:hover {
  color: #b3d9b3;
}

.bg-green-light-7 {
  background-color: #b3d9b3;
}

.text-green-light-8 {
  color: #cce6cc;
}

.text-hover-green-light-8:hover {
  color: #cce6cc;
}

.bg-green-light-8 {
  background-color: #cce6cc;
}

.text-green-light-9 {
  color: #e6f2e6;
}

.text-hover-green-light-9:hover {
  color: #e6f2e6;
}

.bg-green-light-9 {
  background-color: #e6f2e6;
}

.text-green-dark-1 {
  color: #007300;
}

.text-hover-green-light-1:hover {
  color: #1a8d1a;
}

.bg-green-dark-1 {
  background-color: #007300;
}

.text-green-dark-2 {
  color: #006600;
}

.text-hover-green-light-2:hover {
  color: #339933;
}

.bg-green-dark-2 {
  background-color: #006600;
}

.text-green-dark-3 {
  color: #005a00;
}

.text-hover-green-light-3:hover {
  color: #4da64d;
}

.bg-green-dark-3 {
  background-color: #005a00;
}

.text-green-dark-4 {
  color: #004d00;
}

.text-hover-green-light-4:hover {
  color: #66b366;
}

.bg-green-dark-4 {
  background-color: #004d00;
}

.text-green-dark-5 {
  color: #004000;
}

.text-hover-green-light-5:hover {
  color: #80c080;
}

.bg-green-dark-5 {
  background-color: #004000;
}

.text-green-dark-6 {
  color: #003300;
}

.text-hover-green-light-6:hover {
  color: #99cc99;
}

.bg-green-dark-6 {
  background-color: #003300;
}

.text-green-dark-7 {
  color: #002600;
}

.text-hover-green-light-7:hover {
  color: #b3d9b3;
}

.bg-green-dark-7 {
  background-color: #002600;
}

.text-green-dark-8 {
  color: #001a00;
}

.text-hover-green-light-8:hover {
  color: #cce6cc;
}

.bg-green-dark-8 {
  background-color: #001a00;
}

.text-green-dark-9 {
  color: #000d00;
}

.text-hover-green-light-9:hover {
  color: #e6f2e6;
}

.bg-green-dark-9 {
  background-color: #000d00;
}

.text-orange {
  color: orange;
}

.text-hover-orange:hover {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.text-orange-light-1 {
  color: #ffae1a;
}

.text-hover-orange-light-1:hover {
  color: #ffae1a;
}

.bg-orange-light-1 {
  background-color: #ffae1a;
}

.text-orange-light-2 {
  color: #ffb733;
}

.text-hover-orange-light-2:hover {
  color: #ffb733;
}

.bg-orange-light-2 {
  background-color: #ffb733;
}

.text-orange-light-3 {
  color: #ffc04d;
}

.text-hover-orange-light-3:hover {
  color: #ffc04d;
}

.bg-orange-light-3 {
  background-color: #ffc04d;
}

.text-orange-light-4 {
  color: #ffc966;
}

.text-hover-orange-light-4:hover {
  color: #ffc966;
}

.bg-orange-light-4 {
  background-color: #ffc966;
}

.text-orange-light-5 {
  color: #ffd280;
}

.text-hover-orange-light-5:hover {
  color: #ffd280;
}

.bg-orange-light-5 {
  background-color: #ffd280;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-hover-orange-light-6:hover {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-hover-orange-light-7:hover {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-hover-orange-light-8:hover {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-hover-orange-light-9:hover {
  color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.text-hover-orange-light-1:hover {
  color: #ffae1a;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8400;
}

.text-hover-orange-light-2:hover {
  color: #ffb733;
}

.bg-orange-dark-2 {
  background-color: #cc8400;
}

.text-orange-dark-3 {
  color: #b37400;
}

.text-hover-orange-light-3:hover {
  color: #ffc04d;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996300;
}

.text-hover-orange-light-4:hover {
  color: #ffc966;
}

.bg-orange-dark-4 {
  background-color: #996300;
}

.text-orange-dark-5 {
  color: #805300;
}

.text-hover-orange-light-5:hover {
  color: #ffd280;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.text-hover-orange-light-6:hover {
  color: #ffdb99;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.text-hover-orange-light-7:hover {
  color: #ffe4b3;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.text-hover-orange-light-8:hover {
  color: #ffedcc;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.text-hover-orange-light-9:hover {
  color: #fff6e6;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-purple {
  color: purple;
}

.text-hover-purple:hover {
  color: purple;
}

.bg-purple {
  background-color: purple;
}

.text-purple-light-1 {
  color: #8d1a8d;
}

.text-hover-purple-light-1:hover {
  color: #8d1a8d;
}

.bg-purple-light-1 {
  background-color: #8d1a8d;
}

.text-purple-light-2 {
  color: #993399;
}

.text-hover-purple-light-2:hover {
  color: #993399;
}

.bg-purple-light-2 {
  background-color: #993399;
}

.text-purple-light-3 {
  color: #a64da6;
}

.text-hover-purple-light-3:hover {
  color: #a64da6;
}

.bg-purple-light-3 {
  background-color: #a64da6;
}

.text-purple-light-4 {
  color: #b366b3;
}

.text-hover-purple-light-4:hover {
  color: #b366b3;
}

.bg-purple-light-4 {
  background-color: #b366b3;
}

.text-purple-light-5 {
  color: #c080c0;
}

.text-hover-purple-light-5:hover {
  color: #c080c0;
}

.bg-purple-light-5 {
  background-color: #c080c0;
}

.text-purple-light-6 {
  color: #cc99cc;
}

.text-hover-purple-light-6:hover {
  color: #cc99cc;
}

.bg-purple-light-6 {
  background-color: #cc99cc;
}

.text-purple-light-7 {
  color: #d9b3d9;
}

.text-hover-purple-light-7:hover {
  color: #d9b3d9;
}

.bg-purple-light-7 {
  background-color: #d9b3d9;
}

.text-purple-light-8 {
  color: #e6cce6;
}

.text-hover-purple-light-8:hover {
  color: #e6cce6;
}

.bg-purple-light-8 {
  background-color: #e6cce6;
}

.text-purple-light-9 {
  color: #f2e6f2;
}

.text-hover-purple-light-9:hover {
  color: #f2e6f2;
}

.bg-purple-light-9 {
  background-color: #f2e6f2;
}

.text-purple-dark-1 {
  color: #730073;
}

.text-hover-purple-light-1:hover {
  color: #8d1a8d;
}

.bg-purple-dark-1 {
  background-color: #730073;
}

.text-purple-dark-2 {
  color: #660066;
}

.text-hover-purple-light-2:hover {
  color: #993399;
}

.bg-purple-dark-2 {
  background-color: #660066;
}

.text-purple-dark-3 {
  color: #5a005a;
}

.text-hover-purple-light-3:hover {
  color: #a64da6;
}

.bg-purple-dark-3 {
  background-color: #5a005a;
}

.text-purple-dark-4 {
  color: #4d004d;
}

.text-hover-purple-light-4:hover {
  color: #b366b3;
}

.bg-purple-dark-4 {
  background-color: #4d004d;
}

.text-purple-dark-5 {
  color: #400040;
}

.text-hover-purple-light-5:hover {
  color: #c080c0;
}

.bg-purple-dark-5 {
  background-color: #400040;
}

.text-purple-dark-6 {
  color: #330033;
}

.text-hover-purple-light-6:hover {
  color: #cc99cc;
}

.bg-purple-dark-6 {
  background-color: #330033;
}

.text-purple-dark-7 {
  color: #260026;
}

.text-hover-purple-light-7:hover {
  color: #d9b3d9;
}

.bg-purple-dark-7 {
  background-color: #260026;
}

.text-purple-dark-8 {
  color: #1a001a;
}

.text-hover-purple-light-8:hover {
  color: #e6cce6;
}

.bg-purple-dark-8 {
  background-color: #1a001a;
}

.text-purple-dark-9 {
  color: #0d000d;
}

.text-hover-purple-light-9:hover {
  color: #f2e6f2;
}

.bg-purple-dark-9 {
  background-color: #0d000d;
}

.text-gray {
  color: gray;
}

.text-hover-gray:hover {
  color: gray;
}

.bg-gray {
  background-color: gray;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: #f2f2f2;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.text-hover-gray-light-9:hover {
  color: #f2f2f2;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 0.5px solid #023eff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #023eff;
}
.btn-primary:hover {
  background-color: #3565ff;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #023eff;
}
.btn-outlined-primary:hover {
  background-color: #023eff;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #023eff;
  color: #ffe79b;
}
.btn-complement-primary:hover {
  color: #023eff;
  background-color: #ffe79b;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}
.btn-secondary:hover {
  background-color: white;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.btn-outlined-secondary:hover {
  background-color: #ffffff;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  color: white;
}
.btn-complement-secondary:hover {
  color: #ffffff;
  background-color: white;
}

.btn-bg-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #111521;
}
.btn-bg-dark:hover {
  background-color: #222a43;
}

.btn-outlined-bg-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #111521;
}
.btn-outlined-bg-dark:hover {
  background-color: #111521;
}

.btn-complement-bg-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #111521;
  color: #867645;
}
.btn-complement-bg-dark:hover {
  color: #111521;
  background-color: #867645;
}

.btn-bg-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #090909;
}
.btn-bg-black:hover {
  background-color: #232323;
}

.btn-outlined-bg-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #090909;
}
.btn-outlined-bg-black:hover {
  background-color: #090909;
}

.btn-complement-bg-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #090909;
  color: #565656;
}
.btn-complement-bg-black:hover {
  color: #090909;
  background-color: #565656;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
}
.btn-blue:hover {
  background-color: #3333ff;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid blue;
}
.btn-outlined-blue:hover {
  background-color: blue;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
  color: #ffff99;
}
.btn-complement-blue:hover {
  color: blue;
  background-color: #ffff99;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
}
.btn-red:hover {
  background-color: #ff3333;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid red;
}
.btn-outlined-red:hover {
  background-color: red;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
  color: #99ffff;
}
.btn-complement-red:hover {
  color: red;
  background-color: #99ffff;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
}
.btn-yellow:hover {
  background-color: #ffff33;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid yellow;
}
.btn-outlined-yellow:hover {
  background-color: yellow;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
  color: #9999ff;
}
.btn-complement-yellow:hover {
  color: yellow;
  background-color: #9999ff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
}
.btn-green:hover {
  background-color: #00b300;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid green;
}
.btn-outlined-green:hover {
  background-color: green;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
  color: #ff1aff;
}
.btn-complement-green:hover {
  color: green;
  background-color: #ff1aff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: orange;
}
.btn-orange:hover {
  background-color: #ffb733;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid orange;
}
.btn-outlined-orange:hover {
  background-color: orange;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: orange;
  color: #99bdff;
}
.btn-complement-orange:hover {
  color: orange;
  background-color: #99bdff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: purple;
}
.btn-purple:hover {
  background-color: #b300b3;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid purple;
}
.btn-outlined-purple:hover {
  background-color: purple;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: purple;
  color: #1aff1a;
}
.btn-complement-purple:hover {
  color: purple;
  background-color: #1aff1a;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gray;
}
.btn-gray:hover {
  background-color: #9a9a9a;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid gray;
}
.btn-outlined-gray:hover {
  background-color: gray;
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gray;
  color: #cdcdcd;
}
.btn-complement-gray:hover {
  color: gray;
  background-color: #cdcdcd;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #1a1a1a;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.navbar .container, .navbar-black .container, .navbar-gray .container, .navbar-purple .container, .navbar-orange .container, .navbar-green .container, .navbar-yellow .container, .navbar-red .container, .navbar-blue .container, .navbar-bg-black .container, .navbar-bg-dark .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-bg-black, .navbar-bg-dark, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-bg-black, .navbar-bg-dark, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-black .site-title, .navbar-gray .site-title, .navbar-purple .site-title, .navbar-orange .site-title, .navbar-green .site-title, .navbar-yellow .site-title, .navbar-red .site-title, .navbar-blue .site-title, .navbar-bg-black .site-title, .navbar-bg-dark .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #023eff;
}

.navbar-secondary {
  background-color: #ffffff;
}

.navbar-bg-dark {
  background-color: #111521;
}

.navbar-bg-black {
  background-color: #090909;
}

.navbar-blue {
  background-color: blue;
}

.navbar-red {
  background-color: red;
}

.navbar-yellow {
  background-color: yellow;
}

.navbar-green {
  background-color: green;
}

.navbar-orange {
  background-color: orange;
}

.navbar-purple {
  background-color: purple;
}

.navbar-gray {
  background-color: gray;
}

.navbar-black {
  background-color: black;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.fw-b {
  font-weight: bold;
}

.fw-bb {
  font-weight: bolder;
}

.fw-l {
  font-weight: lighter;
}

.fw-n {
  font-weight: normal;
}